@import url('https://fonts.googleapis.com/css?family=Titillium+Web');

.posts {
	font-size:1.2em;
	padding-bottom: 1em;
	border-bottom: 1px lightgray solid;
}

.user-name {
	color:#2c3e50;
    font-size: 0.8em;
    font-family: 'Titillium Web', sans-serif;
}

.post-title {
	color : #2c3e50;
    font-family: 'Titillium Web', sans-serif;
    font-size:0.9em;
}

.post-tag {
	position: relative;
	display: inline-block;
	padding: .4em .5em;
	margin: 2px 2px 2px 0;
	font-size: 11px;
	line-height: 1;
	white-space: nowrap;
	text-decoration: none;
	text-align: center;
	border-width: 1px;
	border-style: solid;
	border-radius: 2px;
	transition: all .15s ease-in-out;
	color: #ffffff;
	background-color: #7a8288;
	border-color: #7a8288;
}

.post-tag:hover {
	color: #33658a;
	background-color: #62686d;
	border-color: #3e4245;
}

.post-tag a:hover {
	text-decoration:none;
}

#tags-container {
	display: inline;
	float: right;
}
.comment {
	border-bottom:1px solid lightgray;
}

.form-inline .form-control {
	display: inline-block;
	width: auto;
	vertical-align: middle;
}

.form-group {
	width: 100%;
}

.cancel {
	float: right;
}

.delete-form {
	display: inline;
}