@import url('https://fonts.googleapis.com/css?family=Titillium+Web');

.posts {
	font-size:1.2em;
	padding-bottom: 1em;
	border-bottom: 1px lightgray solid;
}

.user-name {
	color:white;
    font-size: 0.8em;
    font-family: 'Titillium Web', sans-serif;
}

.post-title {
	color : white;
    font-family: 'Titillium Web', sans-serif;
    font-size:0.9em;
}

.post-tag {
	display: inline-block;
	padding: 3px 4px;
	font-size: 12px;
	font-weight: 600;
	line-height: 1;
	color: #fff;
	border-radius: 2px;
	box-shadow: inset 0 -1px 0 rgba(27,31,35,0.12);
}

.post-tag:hover {
	text-decoration: none;
	color: #fff;
}

.idea-tag {
	background-color: #5cb85c;
}

.project-tag {
	background-color: #337ab7;
}

.problem-tag {
	background-color: #f0ad4e;
}

.comment {
	border-bottom:1px solid lightgray;
}

.form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
 }

.form-group {
	width: 100%;
}

 #form-comment {
 	width: 70%;
 }

 #form-comment-container {
 	padding-top: 1em;
 }